[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
joblib = "*"
matplotlib = "*"
seaborn = "*"
django-crispy-forms = "==2.1"
crispy-bootstrap5 = "==2023.10"
plotly = "*"
openpyxl = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.13"
